- const navContent = LANG.nav;

.nav
    a(href=navContent.item1_path).nav__item= navContent.item1
    a(href=navContent.item2_path).nav__item= navContent.item2
    a(href=navContent.item3_path).nav__item= navContent.item3
    a(href=navContent.item4_path).nav__item= navContent.item4
    a(href=navContent.item5_path).nav__item= navContent.item5
    a(href=navContent.item6_path).nav__item= navContent.item6

